body {
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #E6E6FA; /* Lavender */
    text-align: center;
}

.card {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: #98FF98; /* Mint Green */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#hero {
    background: linear-gradient(to right, #FF7E5F, #FEB47B); /* Custom gradient */
}
